<!-- About Content-->
<main class = "container">
    <div class = "row">
      <div class = "col">
        <div class="jumbotron jumbotron-fluid" style="background-color: #14a098;">
          <h1 class="display-4 text-center"><%= title %></h1>
        
      </div>
      </div>

    </div>

<div class = "row">
  <div class = "col">
    
    <p class="lead"> “My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style.” ― Maya Angelou</p>
    <hr class = "my-4">
  </div>


  
</div>

<div class="row justify-content-md-center">
  <div class="col-13">
<div class = "container">
<div class="media">
    <img src="./assets/images/me.jpg" class="align-self-center mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">About Me</h5>
      <p>Why, hello there! My name is Asheka Hall. I am currently a student attending Centennial College and enrolled in my third semester of Software Engineering Technician program.</p>
      <p class="mb-0">I am originally from Jamaica, but resided in the British Virgin Islands for a bit before migrating to Canada. I never imagined leaving a warm tropical island lifestyle and moving to frigid Canada but I normally like to take risks and I believe experiences enriches a person. The same can be said about my decision to enroll in the software engineering technician program which is somewhat slightly foreign to me but very intiguing nonetheless. </p>
      <p class = "my-3">When I'm not studying coursework, I enjoy reading, writing and learning how to play my guitar.</p>
      <hr class = "my-5">
      <a href="/assets/Asheka-Hall-Resume.pdf" class="btn btn-primary" style="background-color: #14a098;">Check out my resume here!</a>
      
      
    </div>
  </div>
</div>
  </div>
</div>




