<!--Main Content-->
  <main class = "container">
    <div class = "row">
      <div class = "col">
        <div class="jumbotron jumbotron-fluid" style="background-color: #14a098;">
          <h1 class="display-4 text-center">Welcome <%= title %></h1>
        
      </div>
      </div>

    </div>
<div class = "row">
  <div class = "col">
    
    <p class="lead"> “You can’t connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future.” ― Steve Jobs</p>
    <hr class = "my-4">
  </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      
      <div class="card" style="width: 20rem;">
        <img src="./assets/images/self.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Who am I?</h5>
          <p class="card-text">Get to know more about me!</p>
          <a href="/about" class="btn btn-primary" style="background-color: #14a098;">About Me</a>
        </div>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <img src="./assets/images/gui1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">What have I been working on?</h5>
          <p class="card-text">See what I have been up to!</p>
          <a href="/projects" class="btn btn-primary" style="background-color: #14a098;">Projects</a>
        </div>
      </div>
    </div>
  </div>
    </main>

    