<!-- Projects Content-->
<div class = "container">
 <div class = "row">
      <div class = "col">
        <div class="jumbotron jumbotron-fluid" style="background-color: #14a098;">
          <h1 class="display-4 text-center">My <%= title %></h1>
      </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        
        <p class="lead"> “Creativity is intelligence having fun!” ― Albert Einstein</p>
        <hr class = "my-4">
      </div>
    
      </div>
    <div class="card-deck">
      <div class="card">
        <img src="./assets/images/gui1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Music Playlist Editor</h5>
          <p class="card-text"> This was an assignment in which I created a music playlist editor for My COMP 123 class. It consisted of simple tasks of adding, deleting or modifying songs to your playlist.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="./assets/images/listing.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Realtor Website</h5>
          <p class="card-text">I created this website for my first Web Design class in my first semester. It consisted of created several webpages for a fictional realtor. I implemented considerable amount of CSS to help create the website's aesthetic and style.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="./assets/images/js.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Application Form</h5>
          <p class="card-text">This project was done for my JavaScript's class. It was a basic construction of an application form for Centennial College. It mainly consisted of minor html and CSS for the appearance and JavaScript for the page's functionality.</p>
          
        </div>
      </div>
    </div>

 </div>
