<!-- Services Content-->

<div class = "container">
<div class = "row">
      <div class = "col">
        <div class="jumbotron jumbotron-fluid" style="background-color: #14a098;">
          <h1 class="display-4 text-center"><%= title %> Offered</h1>
        
      </div>
      </div>

    </div>
    <div class = "row">
      <div class = "col">
        
        <p class="lead"> “We make a living by what we get, we make a life by what we give.” ― Winston Chruchill</p>
        <hr class = "my-4">
      </div>
    
      </div>

    <ul class="list-unstyled">
        <li class="media">
          <img src="./assets/images/web.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Web Development</h5>
          </div>
        </li>
        <li class="media my-4">
          <img src="./assets/images/proj.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1"> Project Management</h5>
          </div>
        </li>
        <li class="media">
          <img src="./assets/images/mob.jpg" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Mobile Development</h5>
          </div>
        </li>
      </ul>
</div>

